body {
    background-color: #2b2b2b;
    width: 100%;
    margin: 0;
}

/*TOP-LOGO*/
.logogo {
        width: 20%;
        max-width: 150px;
        display:block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 100;
        animation-name: toplogo;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-delay:1s;
        opacity: 1;

}

    .logogo img {
    }

@keyframes toplogo {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.topp1 {
    width: 100%;
    vertical-align: bottom;
}

#top_photo{
    position: relative;
}

/*ヘッダー*/
#header {
    display: flex;
}

#header_icon img {
    width: 18%;
    min-width: 100px;
    margin: 10px;
    z-index: 50;
    display: flex;
    position: fixed;
    animation-name: headlogo;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    opacity: 0;
}

@keyframes headlogo {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#header_iconb img {
    width: 18%;
    min-width: 100px;
    margin: 10px;
    z-index: 50;
    display: flex;
    position: fixed;
}

#header_icon {
    display: flex;
}

#header_iconb {
    display: flex;
}

.twhiplogo {
    width: 45px;
    display: block;
}

.twhpicon {
    display: flex;
    background: #FFFFFF;
    height: 70px;
    width: 70px;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.snss {
    display: flex;
}


#right_menu {
    background: none;
    border: none;
    z-index: 20;
    display: block;
    margin-top: 10px;
    right: 20px;
    position: fixed;
    text-align: center;
    animation-name: rightham;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    opacity: 0;
}

@keyframes rightham {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*ハンバーガーボタン*/
#ham_bu {
    display: flex;
    transition: all 0.5s;
    height: 65px;
    width: 65px;
}

#nav_b::after,
#nav_b::before {
    position: absolute;
    top: calc(50% - 1px);
    content: '';
    width: 50px;
    height: 3px;
    display: block;
    background: #FFFFFF;
    transition: transform 0.3s;
}

#nav_b::before {
    transform: translateY(-20px);
}

#nav_b::after {
    transform: translateY(20px)
}

#nav_b.hamoff::before {
    transform: rotate(45deg);
}

#nav_b.hamoff::after {
    transform: rotate(-45deg);
}

#nav_p {
    margin: auto;
    transition: opacity 0.3s;
    opacity: 1;
    color: #FFFFFF;
    font-size: 23px;
    font-family: 'Kosugi Maru', sans-serif;
}
#nav_p.hamoff { 
    opacity: 0;
}

#nav_b {
    height: 65px;
    width: 65px;
    background: none;
    border: none;
    display: flex;
    position: fixed;
}

/*ハンバーガーメニュー*/
#ham_base {
    margin: 0px;
    position: fixed;
    z-index: 9;
    width: 100%;
    max-width: 600px;
    z-index: 10;
    transition: right 0.6s cubic-bezier(0.2,0.8,0.6,0.9);
    right: -600px;
    background-color: rgba(170,170,170,0.98);
    opacity: 0.9;
    height: 100%;
    padding-top: 60px;
}

#ham_base.right {
    right: 0px;
}

.ham_komoku {
    margin-top: 20px;
    margin-left: 20px
}


    .ham_komoku a {
        color: #4e454a;
        font-family: 'Montserrat', sans-serif;
        font-size: 45px;
        text-decoration: none;
    }


/*BASE*/
#base {
    margin-top: 20px;
    margin: auto;
    display: block;
    width: 90%;
    max-width: 1000px;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
}

/*TOPIX*/
.base_head {
    margin-top: 40px;
    font-size: 45px;
    margin: auto;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    color: #FFFFFF;
}

    .base_head p {
        margin: auto;
        width: 180px;
        background: linear-gradient(0deg, #aaaab0 0%, #aaaab0 25%,#00000000 25%, #00000000 100%);
        text-align: center;
    }
    
.topixco {
    justify-content: center;
    margin: auto;
    font-family: 'Noto Sans JP', sans-serif;
    padding-bottom:3px;
}

.topix_cu {
    display:flex;
    margin-top: 40px;
    border-bottom: 1px solid #aaaab0;
    height:60px;
    position:relative;
    overflow:hidden;
}

    .topix_cu::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        background: #aaaab040;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        z-index:-1;
    }

    .topix_cu:hover::after {
        animation-name: topixanime;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }

@keyframes topixanime {
    0% {
        transform: translate(-100%,0);
    }

    100% {
        transform: translate(0,0);
    }
}

.topix_media {
    background: linear-gradient(90deg, #0075c2 0%, #0075c2 8%,#00000000 8%, #00000000 100%);
    display: flex;
    width: 60px;
    font-size: 20px;
    align-items: end;
    padding-left: 10px;
}

.topix_tour {
    background: linear-gradient(90deg, #fff462 0%, #fff462 8%,#00000000 8%, #00000000 100%);
    display: flex;
    width: 60px;
    font-size: 20px;
    align-items: end;
    padding-left: 10px;
}

.topix_disco {
    background: linear-gradient(90deg, #3cb37a 0%, #3cb37a 8%,#00000000 8%, #00000000 100%);
    display: flex;
    width: 60px;
    font-size: 20px;
    align-items: end;
    padding-left: 10px;
}

.topix_video {
    background: linear-gradient(90deg, #d83473 0%, #d83473 8%,#00000000 8%, #00000000 100%);
    display: flex;
    width: 60px;
    font-size: 20px;
    align-items: end;
    padding-left: 10px;
}

.topix_goods {
    background: linear-gradient(90deg, #3cb37a 0%, #3cb37a 5%,#00000000 5%, #00000000 100%);
    display: flex;
    width: 60px;
    font-size: 20px;
    align-items: end;
    padding-left: 10px;
}

.topixbun {
    display: flex;
    align-items: center;
    padding-left: 50px;
    font-size: 25px;
}

.topixmore {
    margin: auto;
    display: flex;
    margin-top: 30px;
    border: 1px solid #FFFFFF;
    width: 150px;
    height: 50px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

    .topixmore div p {
        display: block;
        color: #FFFFFF;
        font-size: 20px;
    }

/*TOP-DISCOGRPHY*/
.disco_head {
    padding-top: 100px;
    font-size: 45px;
    margin: auto;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    color: #FFFFFF;
}

    .disco_head p {
        margin: auto;
        width: 350px;
        background: linear-gradient(0deg, #3cb37a 0%, #3cb37a 25%,#00000000 25%, #00000000 100%);
        text-align: center;
    }

#disco_graph {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    flex-wrap:wrap;
    width: 100%;
}

.disco_photo {
    width: 200px;
    margin: 10px;

}

.disco_photo img {
    width:200px;
}

.discomore {
    margin: auto;
    display: flex;
    margin: 10px;
    border: 1px solid #FFFFFF;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.discomore div p {
    display: block;
    color: #FFFFFF;
    font-size: 25px;
}

.video_head {
    padding-top: 80px;
    font-size: 45px;
    margin: auto;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    color: #FFFFFF;
}

    .video_head p {
        margin: auto;
        width: 180px;
        background: linear-gradient(0deg, #d83473 0%, #d83473 25%,#00000000 25%, #00000000 100%);
        text-align: center;
    }

.video_ply {
    display: flex;
    margin-top: 20px;
    position: relative;
    padding-bottom: 56.25%;
    justify-content: center;
}

.video_ply iframe {
	position: absolute;
	width: 85%;
	height: 85%;
}
